.loginForm{
  width: 30%;
  text-align: center;
  margin: 5em auto;
  border: 1px solid #a1a1a185;
  padding: 4em 5em;

  h1{
    font-size: 4.5em;
    font-family: "Passion One", cursive;
    margin: 0;
    margin-bottom: .5em;
  }
}
