.loginForm{
  width: 30%;
  text-align: center;
  margin: 5em auto;
  border: 1px solid #a1a1a185;
  padding: 4em 5em;

  h1{
    font-size: 4.5em;
    font-family: "Passion One", cursive;
    margin: 0;
    margin-bottom: .5em;
  }
}

select{
  margin: 1em 0;
  padding: 0.6em;
  width: 100%;
  border: 1px solid #d8dbdf;
  border-radius: 5px;
  font-family: arial;
  color: #7c8085;
}